/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
.vagrant
.idea
.DS_store
.apache2_vhosts/000-default.conf
.apache2_vhosts/default
.apache2_vhosts/default-ssl